<% provide(:title, "About") %>
<h1>ZEFR ProjectID</h1>
  <p>
    ZEFR ProjectID is an attmept to brings the best Creator Projects    to your brand to create an atomosphere of symbiosis between brands and creators.
  </p>